<div class="container">
    <div class="search">
        <input type="text" placeholder="Search settings">
        <div>15 settings Found</div>
    </div>
    <div class="tab-menu">
        <div [class.active]="currenttab == 'user'" (click)='selectedtab("user")'>User Settings</div>
        <div [class.active]="currenttab == 'workspace'" (click)='selectedtab("workspace")'>Workspace Settings</div>
    </div>
    <div class="setting-panel">
        <div class="settingTreeView">
            <span>Commonly Used</span>
            <tree-root *ngIf="currenttab=='user'" [nodes]="nodes1" [options]="options"></tree-root>
           <tree-root *ngIf="currenttab=='workspace'" [nodes]="nodes2" [options]="options"></tree-root>
            
            
        </div>
        <div class="settingConfigs">
            <h5>Commonly Used</h5>
            <app-config 
            [groupName]="'Files'" 
            [name]="'Auto Save'" 
            [remark]="'(Modified in: User)'"
            [detail]="'Controls auto save of dirty files. Read more about autosave here.'" 
            [value]="'off'"></app-config>
            <app-config 
            [groupName]="'Editor:'" 
            [name]="'Font Size'" 
            [detail]="'Controls the font size in pixels.'" 
            [value]="'12'"></app-config>
            <app-config 
            [groupName]="'Editor:'" 
            [name]="'Font Family'" 
            [detail]="'Controls the font family.'" 
            [value]="'Consolas, \'Courier New\', monospace'"></app-config>
            <app-config 
            [groupName]="'Editor:'" 
            [name]="'Tab Size'"
            [detail]="'The number of spaces a tab is equal to. This setting is overridden based on the file contents when Editor: Detect Indentation is on.'"
            [value]="'4'"></app-config>
        </div>
        
    </div>
</div>


